{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>
        {% block title %}
        Paramount Enterprises
        {% endblock %}
    </title>


    <!-- Google Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet"
    >


    <!-- Main CSS -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    {% block extra_css %}
    {% endblock %}


</head>


<body>



<!-- =========================
        HEADER
========================= -->


<header class="site-header">


    <a href="/" class="brand">


        <img src="{% static 'images/logo.png' %}" class="logo-image" alt="invalid" >


        <span>

            <strong>
                Paramount
            </strong>


            <small>
                Enterprises
            </small>


        </span>


    </a>





    <nav class="site-nav">


    <a href="{% url 'home' %}">

    Home

    </a>



    <a href="{% url 'about' %}">

    About

    </a>




    <a href="{% url 'projects' %}">

    Projects

    </a>





    <a href="{% url 'gallery' %}">

    Gallery

    </a>





    <a href="{% url 'contact' %}">

    Contact

    </a>



    </nav>





    <div class="nav-actions">


        {% if request.user.is_authenticated %}


            <a href="/dashboard/">
                Dashboard
            </a>


            <a 
                href="/logout/"
                class="button-link"
            >

                Logout

            </a>



        {% else %}


            <a href="/login/">

                Login

            </a>



            <a 
                href="/register/"
                class="button-link"
            >

                Register

            </a>



        {% endif %}


    </div>



</header>






<!-- =========================
        PAGE CONTENT
========================= -->


<main>


{% block content %}


{% endblock %}


</main>






<!-- =========================
        FOOTER
========================= -->


<footer class="site-footer">


<div class="footer-grid">



    <div>


        <div class="brand footer-brand">


            <span class="brand-mark">

                P

            </span>



            <span>


                <strong>
                    Paramount Enterprises
                </strong>


                <small>
                    Farmland Investments
                </small>



            </span>



        </div>




        <p>

            India's trusted partner in managed farmland investments,
            growing wealth rooted in the earth.

        </p>



    </div>







    <div>


        <h4>
            Explore
        </h4>



        <a href="/">
            Home
        </a>


        <a href="/about/">
            About Us
        </a>


        <a href="/gallery/">
            Gallery
        </a>


        <a href="/projects/">
            Projects
        </a>


        <a href="/contact/">
            Contact Us
        </a>

        <a href="/terms/">
            Terms & Conditions
        </a>



    </div>








    <div>


        <h4>
            Reach Us
        </h4>



        <p>
            Hyderabad, India
        </p>


        <p>
            +91 9876543210
        </p>


        <p>
            hello@paramount.in
        </p>



    </div>




</div>





<div class="copyright">


    © 2026 Paramount Enterprises.
    All rights reserved.


</div>




</footer>






<!-- =========================
        JAVASCRIPT
========================= -->


<script src="{% static 'js/main.js' %}"></script>


{% block extra_js %}

{% endblock %}



</body>


</html>