{% extends "base.html" %}

{% load static %}


{% block title %}
Projects — Paramount Enterprises
{% endblock %}



{% block content %}



<section class="project-page">


<div class="container">



<div class="project-header">


<span class="section-title">
PROJECTS
</span>



<h1>
Our Farmland Projects
</h1>



<p>
Explore our active and upcoming managed farmland opportunities.
</p>



</div>






<div class="projects-grid">






<article class="project-card">


<div class="project-image">


<img 
src="{% static 'images/macadamia-farm.png' %}"
alt="Macadamia Farm"
>


</div>


<div class="project-content">


<h3>
Macadamia Farm
</h3>


</div>


</article>








<article class="project-card">


<div class="project-image">


<img 
src="{% static 'images/malabar-farm.png' %}"
alt="Malabar Farm"
>


</div>


<div class="project-content">


<h3>
Malabar Farm
</h3>


</div>


</article>








<article class="project-card">


<div class="project-image">


<img 
src="{% static 'images/mahogany-farm.png' %}"
alt="Mahogany Farm"
>


</div>


<div class="project-content">


<h3>
Mahogany Farm
</h3>


</div>


</article>








<article class="project-card">


<div class="project-image">


<img 
src="{% static 'images/red-sandalwood-farm.png' %}"
alt="Red Sandalwood Farm"
>


</div>


<div class="project-content">


<h3>
Red Sandalwood Farm
</h3>


</div>


</article>








<article class="project-card">


<div class="project-image">


<img 
src="{% static 'images/sandalwood-farm.png' %}"
alt="Sandalwood Farm"
>


</div>


<div class="project-content">


<h3>
Sandalwood Farm
</h3>


</div>


</article>








<article class="project-card">


<div class="project-image">


<img 
src="{% static 'images/mango-farm.png' %}"
alt="Mango Farm"
>


</div>


<div class="project-content">


<h3>
Mango Farm
</h3>


</div>


</article>







</div>



</div>


</section>




{% endblock %}